@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100&family=Sansita+Swashed:wght@300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100&family=Rubik+Glitch&family=Sansita+Swashed:wght@300;400;500;600;800;900&display=swap');
:root {
	--color-pink: #ff75ba;
	--color-hover: #ffb9dc;
    --color-white: #fff;
	 
    --container-width: 84%;
    --container-width-tablet: 60%;
    --container-width-phone: 94%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sansita Swashed', cursive;
	background: linear-gradient(var(--color-pink), #e591ad) fixed 10%;
 
}

/* Top Classes */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: #ffffff10;
	font-size: 20px;
	transition: 0.3s;
}

a {
	color: #fff;
}

header {
    background-color: rgb(226, 116, 180);
}

iframe {
	width: 70%;
	height: 30%;
}

/* Classes */
.content {

}
.button-link {
	padding: 15px 20px;
	background-color: var(--color-white);
	color: #000;
	border-radius: 0.7rem;
	font-family: 'Sansita Swashed' !important;
	text-decoration: none;
	font-weight: 500;
	margin: auto;
	box-shadow: 0rem 0.5rem 3rem rgb(0 0 0 /20%);
	transition: 0.3s;
	font-style: normal;   
}
.button-link:hover {
	background-color: var(--color-hover);
 
}
.rounded-rectangle {
	border-radius: 50px;
	 
}
.first-block {
	background-color: #ffffff3f;
	width: 80%;
	margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
	box-shadow: -1rem 1rem 6rem rgb(0 0 0 / 20%);
}
.first-block-container {
	display: inline-grid;
	width: 50%;
}
.first-block-container2 {
	display: inline-grid;
	width: 50%;
}
.first-block h1 {
	font-family: 'Poppins', sans-serif !important;
font-family: 'Rubik Glitch', cursive !important;
}
.first-block img {
 
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__items {
    display: flex;
    gap: 1.5rem;
}
.nav__items li {
	list-style-type: none;
}
.nav__items li a {
	font-size: 24px;
	font-weight: 200;
	display: inline-block;
	text-decoration: none;
	
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  

.nav__items li a:hover {
	animation: .3s shake infinite alternate;
}

.social-links {
	display: none;
}

@keyframes shake {
	0% { transform: skewX(-25deg); }
	5% { transform: skewX(35deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }  
  }

.hover-effect-item {
	transition: 0.3s;
}
.hover-effect-item:hover{
	color: var(--color-hover);
}
.nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
	margin-left: 3rem;
    transform: translate(-50%, -50%);
	color: #ffffff;
	text-decoration: none;
 
}
.nav__left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
	 
}
.nav button {
	display: none;
}
.container {
    width: var(--container-width);
    margin: 0 auto;
}

#menu-btn {
		display: none;
}

@media screen and (max-width: 1650px) {
	.nav__logo {
		font-size: 16px;
		transform: translate(-30%, -50%);
	}
	
}

@media screen and (max-width: 1385px) {
	.first-block-container2 {
		 
		width: 50%;
	}
	.first-block-container2 img {
		width: 70%;
	}
}

/* ================== MEDIA QUERIES (TABLETS) ====================== */
 
@media screen and (max-width: 1024px) {
	.first-block-container h1 {
		font-size: 54px !important;
	}
	.first-block-container2 img {
		width: 100%;
	}
	.container {
		width: var(--container-width-tablet);
	}


	.m-bottom-20 {
		margin-bottom: 0rem;
	}

	/* =============== NAVBAR ================ */
	.nav__container {
		position: relative;
		width: 100vw;
	}

	.nav__logo {
		font-size: 19px;
		margin-left: 2rem;
		position: relative;
		text-align: center;
		margin: auto;
	}

	.nav__items {
		position: fixed;
		top: 3.8rem;
		right: 0;
		background: var(--color-white);
		height: max-content;
		width: 18rem;
		box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.2);
		flex-direction: column;
		gap: 0;
		z-index: 3;
		display: block;
		padding: 0;
	}

	.nav__items li {
		width: 100%;
		height: 6rem;
	}

	.nav__items li a {
		color: var(--color-black);
		width: 100%;
		height: 100%;
		display: block;
		padding-left: 3rem;
		display: flex;
		align-items: center;
		transition: all 400ms ease;
	}

	.nav__items li a:hover {
		background: var(--color-pink);
		color: var(--color-white);
	}
	.nav__signin_signup {
		display: none;
	}

	.nav__logo {
		position: relative;
		left: 0;
		transform: translate(0);
		top: 0;
	}

	.nav button {
		display: inline-block;
		margin-right: 1.4rem;
		background: transparent;
		color: var(--color-primary);
		cursor: pointer;
		border: none;
	}

	.nav button#close_btn {
		display: none !important;
	}

	.nav button i {
		font-size: 2.4rem;
		color: #fff;
		 
	}
	.social-links {
		display: block;
		text-align: center;
		padding: 10px;
	}
	.social-links a {
		color: #000;
		font-size: 30px;
		margin: 5px;
	}
	.nav__left {
		display: none;
	}
}

/* ===================== MEDIA QUERIES (PHONES) ==================== */
@media screen and (max-width: 720px) {
	.first-block-container h1 {
		font-size: 44px !important;
	}
}
@media screen and (max-width: 530px) {
	.first-block {
		width: 40%;
		box-shadow: none;
		background-color: transparent;
	}
	.first-block-container {
		z-index: 1;
		margin-left: 3rem;
	}
	.first-block-container2 {
		display: block;
		position: relative;
		top: 10rem;
 		left: -18rem !important;
		transition: 0.3s;
		transform: translate(0, -50%);
	}
	.first-block-container2 img {
		width:450% !important;
	}
}
@media screen and (max-width: 500px) {
	.first-block {
		width: 40%;
		box-shadow: none;
		background-color: transparent;
	}
	.first-block-container {
		z-index: 1;
		margin-left: 3rem;
	}
	.first-block-container2 {
		display: block;
		position: relative;
		top: 10rem;
 		left: -17rem !important;
		transition: 0.3s;
		transform: translate(0, -50%);
	}
	.first-block-container2 img {
		width:450% !important;
	}
}
@media screen and (max-width: 450px) {
	.first-block {
		width: 40%;
		box-shadow: none;
		background-color: transparent;
	}
	.first-block-container {
		z-index: 1;
		margin-left: 3rem;
	}
	.first-block-container2 {
		display: block;
		position: relative;
		top: 10rem;
 		left: -15rem !important;
		transition: 0.3s;
		transform: translate(0, -50%);
	}
	.first-block-container2 img {
		width:500% !important;
	}
}
@media screen and (max-width: 400px) {
	.first-block {
		width: 40%;
		box-shadow: none;
		background-color: transparent;
	}
	.first-block-container {
		z-index: 1;
		margin-left: 3rem;
	}
	.first-block-container2 {
		display: block;
		position: relative;
		top: 10rem;
 		left: -13rem !important;
		transition: 0.3s;
		transform: translate(0, -50%);
	}
	.first-block-container2 img {
		width:850% !important;
		
	}
}
@media screen and (max-width: 600px) {
	.first-block {
		width: 40%;
		box-shadow: none;
		background-color: transparent;
	}
	.first-block-container {
		z-index: 1;
		margin-left: 3rem;
	}
	.first-block-container2 {
		display: block;
		position: relative;
		top: 10rem;
 		left: -18rem;
		transition: 0.3s;
		transform: translate(0, -50%);
	}
	.first-block-container2 img {
		width: 300%;
	}
 
	/* ============== NAVBAR ================= */
	.nav__logo {
		margin-left: 1rem;
	}

	.nav__left {
		display: none;
	}

	.nav__items li a {
		justify-content: center;
		padding: 0;
	}

	.nav button {
		margin-right: 0.7rem;
	}
	.social-links a {
		color: #000;
		font-size: 25px;
		margin: 5px;
	}
}

#menu-btn {
	color: var(--color-white);
	border: 0px solid;
}
footer {
	background-color: #000;
	padding: 20px;
	text-align: center;
	box-shadow: 0 50vh 0 50vh #000;
}

footer a {
	margin: 10px;
	text-decoration: none;
	
}

.window-scroll {
	background-color: var(--color-pink);
}