@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100&family=Sansita+Swashed:wght@300;400;500;600;800;900&display=swap');

:root {
    --color-white: #fff;
    --container-width: 84%;
    --container-width-tablet: 90%;
    --container-width-phone: 94%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sansita Swashed', cursive;
}

/* Top Classes */

nav {
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--color-white);
}

header {
    background-color: rgb(226, 116, 180);
}

/* Classes */
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__items {
    display: flex;
    gap: 3rem;
}
.nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav__left {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav button {
	display: none;
}
.container {
    width: var(--container-width);
    margin: 0 auto;
}

/* ================== MEDIA QUERIES (TABLETS) ====================== */
@media screen and (max-width: 1024px) {
	.container {
		width: var(--container-width-tablet);
	}

	.h1 {
		font-size: 4.2rem;
	}

	.h2 {
		font-size: 2rem;
	}

	.h3 {
		font-size: 1.9rem;
	}

	.m-bottom-20 {
		margin-bottom: 0rem;
	}

	/* =============== NAVBAR ================ */
	.nav__container {
		position: relative;
		width: 100vw;
	}

	.nav__logo {
		margin-left: 2rem;
		position: relative;
	}

	.nav__items {
		position: fixed;
		top: 5rem;
		right: 0;
		background: var(--color-white);
		height: max-content;
		width: 18rem;
		box-shadow: -2rem 2rem 3rem rgba(0, 0, 0, 0.2);
		flex-direction: column;
		gap: 0;
		z-index: 3;
		display: block;
	}

	.nav__items li {
		width: 100%;
		height: 6rem;
	}

	.nav__items li a {
		color: var(--color-black);
		width: 100%;
		height: 100%;
		display: block;
		padding-left: 3rem;
		display: flex;
		align-items: center;
		transition: all 400ms ease;
	}

	.nav__items li a:hover {
		background: var(--color-primary);
		color: var(--color-white);
	}
	.nav__signin_signup {
		display: none;
	}

	.nav__logo {
		position: relative;
		left: 0;
		transform: translate(0);
		top: 0;
	}

	.nav button {
		display: inline-block;
		margin-right: 1.4rem;
		background: transparent;
		color: var(--color-primary);
		cursor: pointer;
	}

	.nav button#close_btn {
		display: none !important;
	}

	.nav button i {
		font-size: 2.4rem;
	}
}

/* ===================== MEDIA QUERIES (PHONES) ==================== */
@media screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}

	.h1 {
		font-size: 3rem !important; 
	}

	.h2 {
		font-size: 1.8rem;
	}

	.h3 {
		font-size: 1.4rem;
	}

 
	/* ============== NAVBAR ================= */
	.nav__logo {
		margin-left: 1rem;
	}

	.nav__items li a {
		justify-content: center;
		padding: 0;
	}

	.nav button {
		margin-right: 0.7rem;
	}
}

 